body{
  background-color: white;
  background-image: radial-gradient(50% 400%, rgba(0,0,0,0.82) 50%, #000000 150%);
  color: white;
}

.howAreWe_container{
  width: 100vw;
}

.aboutUs_title{
    margin-left: 10vw;
    margin-top: 6vh;
}

.howAreWe_allVisual{
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: 0 auto;
}

.howAreWe_Visual{
  width: 25%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.team_visual{
  width: 60%;
}

.australia_visual{
  width: 80%;
}

.locked_visual{
  width: 50%;
}

.ourStory_container{
  height: 45vh;
  width: 90vw;
}

.timeline_visual{
  margin: 4vh 10vw 0;
  width: 80vw;
}

.contactUs_container{
  height: 30vh;
}

.email_container{
  display: flex;
  justify-content: center;
}

.email_button{
  margin: 5vh;
  width: 600px;
  font-size: 22px;
  padding: 1vh;
  border: solid 4px #F8D609;
  background: none;
  border-radius: 10px;
  color: white;
}

.email_button:hover{
  background-color: #F8D609;
  color: black;
  transition: all ease-in 0.2s;
}

#to-copy {
  position: fixed;
  bottom: -1000px;
}

@media screen and (max-width : 1470px){
  .howAreWe_allVisual{
    width: 70vw;
  }

  .howAreWe_Visual{
    width: 30%;
  }

  .timeline_visual{
    top: -20vh;
  }
}

@media screen and (max-width : 1150px){
  .howAreWe_allVisual{
    width: 80vw;
  }

  .howAreWe_Visual{
    width: 30%;
  }

  .timeline_visual{
    top: -8vh;
  }
}
