span {
    color: #FC7700;
}

.logoHome {
    background: url('../images/logo.svg') no-repeat;
    background-size: cover;
    width: 200px;
    height: 61px;
    position: absolute;
    top: 18px;
    left: 36px;
}

/** Produit Phare Start **/

.newProd {
    background-image: radial-gradient(circle at bottom left, rgba(248, 214, 9, 1), rgba(253, 80, 0, .5) 150%);
    height: 100vh;
    min-height: 570px;
}

.newProd .description {
    position: absolute;
    top: 50%;
    transform: translate(40%, -50%);
    width: 400px;
    font-size: 24px;
    color: white;
}

.newProd .description .txt {
    margin-bottom: 50px;
    width: 350px;

}

.newProd .description .txt p {
    margin: 15px 0;
    width: 100%;
    font-size: 1.875rem
}

.newProd .description a {
    text-decoration: none;
    color: #f8d609;
    padding: 10px;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.newProd .description a:hover {
    color: black;
    background-color: #f8d609;
    transition-duration: 300ms;
}

.newProd .produit {
    background: url('../images/serrure.png') no-repeat;
    background-position: bottom 0 right 100px;
    background-size: 40%;
    background-attachment: fixed;
    height: 100vh;
    min-height: 570px;
}

.newProd #next {
    width: 100vw;
    height: 50px;
    background-color: #161212;
    background-image: url("../images/down-arrow.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1000px) {
    .newProd .description {
        transform: translate(20%, -50%);
    }
    .newProd .produit {
        background-position: bottom 0 right 10px;

    }
}
@media screen and (max-width: 835px) {
    .newProd .description {
        transform: translate(10%, -50%);
    }
}
@media screen and (max-width: 800px) {
    .newProd .description .txt h1 {
        font-size: 8vw;
        width: 100%;
    }
    .newProd {
        min-height: 460px;
    }
    .newProd .produit {
        background: url('../images/serrure.png') no-repeat;
        background-position: bottom 0 right 50%;
        right: 50%;
        top: 50%;
        background-size: 300px;
        background-attachment: fixed;
        width: 100vw;
        min-height: 460px;
    }
    .newProd .description  {
        transform: translate(50%, -50%);
        right: 50%;
        top: 40%;
        width: 100vw;
    }
    .newProd .description .txt {
        margin: 0 auto;
        text-align: center;
    }
    .newProd .description p {
        display: none;
    }
    .newProd .description a {
        text-align: center;
        margin-left: calc(50% - 122.5px);
    }
}

@media screen and (max-height: 460px) {
    .newProd #next {
        width: 100px;
        height: 50px;
        border-radius: 10px;
        left: 80%;
        bottom: 20px;
    }
    .newProd .description  {
        transform: translate(50%, -50%);
        top: 200px;
    }
}

@media screen and (max-height: 570px) and (min-width: 800px) {
    .newProd #next {
        width: 100px;
        height: 50px;
        border-radius: 10px;
        left: 80%;
        bottom: 20px;
    }
    .newProd .description  {
        transform: translate(10%, -50%);
        top: 300px;
    }
}

/** Produit Phare End **/

/** Presentation Produit Phare Start **/

.newPres {
    height: 90vh;
    min-height: 420px;
    background-image: radial-gradient(at bottom, rgb(30, 30, 30), black 200%);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.newPres .presProduct {
    width: 50vw;
    background-image: url("../images/hotProduct.png");
    background-repeat: no-repeat;
    background-size: 20vw;
    background-position: top 50% left 50%;
    height: 100%;
}

.newPres .presTxt {
    color: white;
    width: 50vw;
    padding-top: 10vh;
}

.newPres .presTxt h1 {
}

.newPres .presTxt li {
	line-height: 35px;
}

.newPres .presTxt p {
    width: 60%;
    line-height: 25px;
}

@media screen and (max-height: 400px) {
    .newPres .presProduct {
        background-size: 175px;
        height: 400px;
    }
    
}

@media screen and (max-width: 660px) {
    .newPres .presTxt p {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .newPres {
        height: 220vh;
        flex-direction: column;
    }
    .newPres .presTxt {
        margin: 0 auto;
        text-align: justify;
        padding-top: 0;
    }
    .newPres .presTxt p {
        width: 85%;
        text-align: justify;
    }
    .newPres .presTxt h1 {
        text-align: left;
    }
    .newPres .presTxt li {
        margin: 0 auto;
    }
    .newPres .presProduct {
        width: 100vw;
        background-size: 290px;
        background-position: top 50% left 70%;
        background-attachment: fixed;
        height: 100%;
    }
}

/** Presentation Produit Phare End **/

/** Presentation Appli Mob Start **/

.appMob {
    background: radial-gradient(at top, rgb(30, 30, 30), black 200%);
}

.container {
    width: 100vw;
    padding: 0;
}

.parallax_1 {
    background: url('../images/appliA.png') no-repeat center;
    background-size: 300px;
    background-position-x: 90%;
    height: 700px;
    margin-left: 45vw;
    width: 50vw;
}
.parallax_2 {
    background: url('../images/appliB.png') no-repeat center;
    background-size: 300px;
    background-position-x: 90%;
    background-attachment: fixed;
    height: 700px;
    width: 50vw;
    margin-left: 45vw;
}
.parallax_3 {
    background: url('../images/appliC.png') no-repeat center;
    background-size: 300px;
    background-position-x: 90%;
    height: 700px;
    padding-bottom: 100px;
    width: 50vw;
    margin-left: 45vw;
}

.txtMob {
    height: 1%;
    width: 50vw;
    float: left;
    position: relative;
    font-size: 24px;
    color: white;
    left: 5%;
    bottom: -300%;
    display: flex;
    flex-direction: row;
    height: 500px;
}
.txtMob {
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    font-size: 24px;
    color: white;
    margin-bottom: 10%;
}

.txtMob_1 {
    width: 80%;
    height: 50%;
}

.txtMob p {
    margin: 10px 0;
    color: white;
    font-size: 20px;
}

.progress {
    margin-left: 40px;
    width: 20px;
    height: 760px;
    transform: translateY(10%);
}
  
.progress-container {
    background: url(../images/A.svg) no-repeat;
    background-size: 20px;  
    height: 760px;
    width: 20px;
}
  
.progress-bar {
    background: url(../images/B.svg) no-repeat;
    background-size: 20px;
    height: 0vh;
    width: 20px;
}

@media screen and (max-width: 800px) {
    .parallax_2, .parallax_3 {
        display: none;
    }
    .parallax_1 {
        background-size: 200px;
        min-height: 1500px;
    }

    .txtMob{
        position: relative;
        width: 90%;
        margin: 15% 0 0 20px;
        left: 0;
        height: auto;
        padding-bottom: 20px;
    }

    .appMob {
        height: auto;
    }

    .appMob .container {
        height: auto;
    }

    .progress {
        display: none;
    }

    .txtMob_1{
        width: 60%;
    }
}

@media screen and (max-height: 600px) {
    .parallax_2, .parallax_3 {
        display: none;
    }
    .parallax_1 {
        background-size: 200px;
        min-height: 2000px;
    }

    .txtMob{
        position: relative;
        width: 90%;
        margin: 15% 0 0 20px;
        left: 0;
        height: auto;
        padding-bottom: 20px;
    }

    .progress {
        display: none;
    }

    .appMob {
        height: auto;
    }

    .appMob .container {
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .parallax_1, .parallax_2, .parallax_3 {
        background-size: 100px;
    }

    .parallax_1 {
        background-size: 100px;
        min-height: 1900px;
    }

    .txtMob{
        position: relative;
        width: 90%;
        margin: 15% 0 0 20px;
        left: 0;
        height: auto;
        padding-bottom: 20px;
    }

    .progress {
        display: none;
    }

    .txtMob_1{
        width: 60%;
    }

    .appMob {
        height: auto;
    }

    .appMob h1 {
        font-size: 40px;
    }

    .appMob .container {
        height: auto;
    }
}

/** Presentation Appli Mob End **/

/** Securité Start **/

.safe {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    background-image: radial-gradient(at bottom left, rgb(250, 250, 250), black 200%);
}

.safe .traitHor {
    height: 200px;
    width: 2px;
    background: dimgrey;
}

.safe .lock {
    display: flex;
    justify-content: center;
    width: calc(50vw - 150px);
}

.safe .cyber {
    display: flex;
    justify-content: center;
    width: calc(50vw - 150px);
}

.safe .info p {
    margin: 20px 0;
}

.imgLock, .imgSecurity {
    width: 100px;
    height: 100px; 
}

.imgLock {
    background: url('../images/lock.svg') no-repeat;
    background-size: 100px;
    margin-left: 50px;
}

.imgSecurity {
    background: url('../images/security.svg') no-repeat;
    background-size: 85px;
    margin-right: 50px;
}

@media screen and (max-width: 700px) {
    .imgLock {
        margin-left: 10px;
    }

    .imgSecurity {
        margin-right: 10px;
    }    
    .safe .lock {
        width: calc(50vw - 110px);
    }
    
    .safe .cyber {
        width: calc(50vw - 110px);
    }

    .safe .cyber .info {
        text-align: end;
    }
}


/** Securité End **/

/** Lien start **/
.downButton {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    background: white;
}

.downButton .kickstarter {
    height: 100%;
    width: calc(50vw - 0.5px);
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downButton .aboutUs {
    width: calc(50vw - 0.5px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downButton div a {
    text-decoration: none;
    color: #f8d609;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 30px;
    width: 290px;
    text-align: center;
}

.downButton div a:hover {
    color: black;
    background-color: #f8d609;
    transition-duration: 300ms;
}

@media screen and (max-width: 700px) {
    .downButton .kickstarter {
        width: calc(50vw - 0.5px);
    }

    .downButton .aboutUs {
        width: calc(50vw - 0.5px);
    }

    .downButton div a {
        width: 200px;
    }

}
/** Lien End **/